<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# message  %>

 <%- detailHTML %>
 <a href="/inv/detail/<%= vehicle.inv_id %>/reviews" class="review-link">See/Add Reviews</a>