<div class="checkerboard-bg">
<div class="main-container">
<main>
<header>
  <div class="header-row">
      <h1 class="site-title">CSE Motors</h1>
      <a title="Click to log in" href="#" class="account-link">My Account</a>
  </div>
</header>
